/* .showcase {
  width: 850px;
  background: url("img/showcase2.jpg.jpg") no-repeat center center/cover;
  height: 40vh;
} */
.showcase {
  background: url("img/quangcao4.gif") no-repeat center center/cover;
  height: 30vh;
  margin-top: 30px;
}
.banner {
  background: url("img/quangcao6.gif") no-repeat center center/cover;
  height: 40vh;
}
.banner-footer {
  background: url("img/quangcao5.gif") no-repeat center center/cover;
  height: 40vh;
}
.banner-profile {
  background: url("img/quancao3.jpg") no-repeat center center/cover;
  height: 40vh;
}
.banner-login {
  background: url("img/quangcao.jpg") no-repeat center center/cover;
  height: 45vh;
}
.banner-register {
  background: url("img/quangcao3.jpg") no-repeat center center/cover;
  height: 20vh;
}
.banner-about {
  background: url("img/member.gif") no-repeat center center/cover;
  height: 30vh;
}
.mobile-banner {
  background: url("img/mobile.jpg") no-repeat center center/cover;
  height: 50vh;
}
.mobile_single-banner {
  background: url("img/bannerdoc4.jpg") no-repeat center center/cover;
  background-size: 100% 100%;
  height: 100vh;
}
.box-about {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}
.homepage-title {
  padding-left: 50px;
  margin-top: 20px;
  width: 100%;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
  left: 800px;
}
.feed {
  text-align: center;
}
/* .ui.button {
  margin: 0 0.25em 0 20px;
} */

.banner-doc {
  background: url("img/bannerdoc.jpg") no-repeat center center/cover;
  height: 70vh;
}
.banner-doc2 {
  background: url("img/bannerdoc2.jpg") no-repeat center center/cover;
  height: 100vh;
}
.ui.feed {
  border: 1px solid #22242626;
  padding: 20px 10px;
  border-radius: 3px;
}
@keyframes slider {
  0% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}
#slider {
  overflow: hidden;
}
#slider figure img {
  width: 20%;
  float: left;
  height: 40vh;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
}
.bem {
  margin: 20px;
}
.ui.card {
  margin: 20px 0px;
}
.cot {
  padding-left: 85px;
}
.banner-trangchu {
  background: url("img/bannerdoc7.jpg") no-repeat center center/cover;
  height: 75vh;
}
.banner-trangchu2 {
  margin: 20px 0px;
  background: url("img/bannerdoc3.gif") no-repeat center center/cover;
  height: 80vh;
}
.banner-trangchu3 {
  background: url("img/bannergif.gif") no-repeat center center/cover;
  height: 30vh;
  margin-bottom: 20px;
}
.banner-trangchu4 {
  background: url("img/bannergif2.gif") no-repeat center center/cover;
  height: 30vh;
  margin-bottom: 20px;
}
.banner-trangchu5 {
  background: url("img/bannergif3.gif") no-repeat center center/cover;
  height: 30vh;
}

.banner-trangchu6 {
  background: url("img/bannergif4.gif") no-repeat center center/cover;
  height: 30vh;
  text-align: center;
  font-size: 30px;
}
.banner-trangchu7 {
  background: url("img/bannergif5.gif") no-repeat center center/cover;
  height: 30vh;
}
.mobile-gif {
  background: url("img/mobilegif.gif") no-repeat center center/cover;
  height: 30vh;
  margin-bottom: 20px;
}
.bike-gif {
  background: url("img/bikegif.gif") no-repeat center center/cover;
  height: 30vh;
}
.fashion-gif {
  background: url("img/fashiongif.gif") no-repeat center center/cover;
  height: 30vh;
  margin-bottom: 20px;
}
.dog-gif {
  background: url("img/doggif.gif") no-repeat center center/cover;
  height: 30vh;
  margin-bottom: 20px;
}
.job-gif {
  background: url("img/jobgif.gif") no-repeat center center/cover;
  height: 29.5vh;
  margin-bottom: 20px;
}
