.danhmuc-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.ui.card {
  margin-left: 60px;
}
.ui.card:first-child {
  margin-top: 15px;
}
.ui.card:last-child {
  margin-bottom: 15px;
}

/* .showcase {
  width: 850px;
  background: url("img/showcase2.jpg.jpg") no-repeat center center/cover;
  height: 40vh;
} */
.showcase {
  background: url("img/quangcao4.gif") no-repeat center center/cover;
  height: 30vh;
  margin-top: 30px;
}
.banner {
  background: url("img/quangcao6.gif") no-repeat center center/cover;
  height: 40vh;
}
.banner-footer {
  background: url("img/quangcao5.gif") no-repeat center center/cover;
  height: 40vh;
}
.banner-profile {
  background: url("img/quancao3.jpg") no-repeat center center/cover;
  height: 40vh;
}
.banner-login {
  background: url("img/quangcao.jpg") no-repeat center center/cover;
  height: 45vh;
}
.banner-register {
  background: url("img/quangcao3.jpg") no-repeat center center/cover;
  height: 20vh;
}
.banner-about {
  background: url("img/member.gif") no-repeat center center/cover;
  height: 30vh;
}
.box-about {
  display: flex;
}
.homepage-title {
  padding-left: 50px;
  margin-top: 20px;
  width: 100%;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
  left: 800px;
}
